[Desktop Entry]
Type=Application
Icon=kgo
Exec=kgo %i -caption "%c"
Terminal=false
Categories=Qt;KDE;Game;BoardGame;

Name=KGo
Name[sv]=Kgo

GenericName=Go Board Game
GenericName[sv]=Brädspelet Go
