[Desktop Entry]
Type=Application
Icon=kigo
Exec=kigo %i -caption "%c"
Terminal=false
Categories=Qt;KDE;Game;BoardGame;

Name=Kigo
Name[ca]=Kigo
Name[de]=Kigo
Name[en_GB]=Kigo
Name[eo]=Kigo
Name[es]=Kigo
Name[et]=Kigo
Name[nb]=Kigo
Name[pt]=Kigo
Name[pt_BR]=Kigo
Name[sv]=Kigo
Name[tr]=Kigo
Name[uk]=Kigo
Name[x-test]=xxKigoxx
Name[zh_TW]=Kigo

GenericName=Go Board Game
GenericName[ca]=Joc de taula Go
GenericName[de]=„Go“-Brettspiel
GenericName[en_GB]=Go Board Game
GenericName[es]=Juego de tablero «Go»
GenericName[et]=Go-mäng
GenericName[nb]=Go brettspill
GenericName[pt]=Jogo de Tabuleiro Go
GenericName[sv]=Brädspelet Go
GenericName[tr]=Go Masaüstü Oyunu
GenericName[uk]=Гра у го на дошці
GenericName[x-test]=xxGo Board Gamexx
GenericName[zh_TW]=Go 棋盤遊戲
