[Desktop Entry]
Type=Application
Icon=kigo
Exec=kigo %i -caption "%c"
Terminal=false
Categories=Qt;KDE;Game;BoardGame;

Name=Kigo
Name[ca]=Kigo
Name[ca@valencia]=Kigo
Name[de]=Kigo
Name[en_GB]=Kigo
Name[eo]=Kigo
Name[es]=Kigo
Name[et]=Kigo
Name[hr]=Kigo
Name[km]=Kigo
Name[nb]=Kigo
Name[nn]=Kigo
Name[pt]=Kigo
Name[pt_BR]=Kigo
Name[ru]=Kigo
Name[sr]=Киго
Name[sr@ijekavian]=Киго
Name[sr@ijekavianlatin]=Kigo
Name[sr@latin]=Kigo
Name[sv]=Kigo
Name[tr]=Kigo
Name[uk]=Kigo
Name[x-test]=xxKigoxx
Name[zh_CN]=Kigo
Name[zh_TW]=Kigo

GenericName=Go Board Game
GenericName[ca]=Joc de taula Go
GenericName[ca@valencia]=Joc de taula Go
GenericName[de]=„Go“-Brettspiel
GenericName[en_GB]=Go Board Game
GenericName[es]=Juego de tablero «Go»
GenericName[et]=Go-mäng
GenericName[nb]=Go brettspill
GenericName[nn]=Brettspelet Go
GenericName[pt]=Jogo de Tabuleiro Go
GenericName[pt_BR]=Jogo de tabuleiro Go
GenericName[ru]=Настольная игра в Го
GenericName[sr]=Игра на табли го
GenericName[sr@ijekavian]=Игра на табли го
GenericName[sr@ijekavianlatin]=Igra na tabli go
GenericName[sr@latin]=Igra na tabli go
GenericName[sv]=Brädspelet Go
GenericName[tr]=Go Masaüstü Oyunu
GenericName[uk]=Гра у го на дошці
GenericName[x-test]=xxGo Board Gamexx
GenericName[zh_CN]=围棋游戏
GenericName[zh_TW]=Go 棋盤遊戲
