[Desktop Entry]
Type=Application
Icon=kigo
Exec=kigo %i -caption "%c"
Terminal=false
Categories=Qt;KDE;Game;BoardGame;

Name=Kigo
Name[de]=Kigo
Name[el]=Kigo
Name[en_GB]=Kigo
Name[et]=Kigo
Name[fr]=Kigo
Name[ga]=Kigo
Name[gl]=Kigo
Name[it]=Kigo
Name[ja]=Kigo
Name[km]=Kigo
Name[nds]=Kigo
Name[pt]=Kigo
Name[pt_BR]=Kigo
Name[sv]=Kigo
Name[tr]=Kigo
Name[uk]=Kigo
Name[x-test]=xxKigoxx

GenericName=Go Board Game
GenericName[de]=Go Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Go
GenericName[en_GB]=Go Board Game
GenericName[es]=Juego de tablero Go
GenericName[et]=Go-mäng
GenericName[fr]=Jeu de Go
GenericName[ga]=Cluiche Cláir "Go"
GenericName[gl]=Xogo do Go
GenericName[hne]=गो पटिया वाले खेल
GenericName[it]=Gioco da tavolo Go
GenericName[ja]=囲碁ゲーム
GenericName[km]=ល្បែង​របស់ Go Board
GenericName[nds]=Go-Brettspeel
GenericName[pt]=Jogo de Tabuleiro Go
GenericName[sv]=Brädspelet Go
GenericName[tr]=Go Masa Oyunu
GenericName[uk]=Гра у го на дошці
GenericName[x-test]=xxGo Board Gamexx
