[Desktop Entry]
Type=Application
Icon=kigo
Exec=kigo %u -qwindowicon kigo -qwindowtitle %c
Terminal=false
Categories=Qt;KDE;Game;BoardGame;
MimeType=application/x-go-sgf;
X-DBUS-ServiceName=org.kde.kigo

Name=Kigo
Name[ast]=Kigo
Name[bs]=Kigo
Name[ca]=Kigo
Name[ca@valencia]=Kigo
Name[cs]=Kigo
Name[da]=Kigo
Name[de]=Kigo
Name[el]=Kigo
Name[en_GB]=Kigo
Name[eo]=Kigo
Name[es]=Kigo
Name[et]=Kigo
Name[fi]=Kigo
Name[fr]=Kigo
Name[ga]=Kigo
Name[gl]=Kigo
Name[hr]=Kigo
Name[hu]=Kigo
Name[is]=Kigo
Name[it]=Kigo
Name[kk]=Kigo
Name[km]=Kigo
Name[ko]=Kigo
Name[lv]=Kigo
Name[mr]=किगो
Name[nb]=Kigo
Name[nds]=Kigo
Name[nl]=Kigo
Name[nn]=Kigo
Name[pl]=Kigo
Name[pt]=Kigo
Name[pt_BR]=Kigo
Name[ru]=Kigo
Name[sk]=Kigo
Name[sl]=Kigo
Name[sr]=Киго
Name[sr@ijekavian]=Киго
Name[sr@ijekavianlatin]=Kigo
Name[sr@latin]=Kigo
Name[sv]=Kigo
Name[tr]=Kigo
Name[ug]=Kigo
Name[uk]=Kigo
Name[x-test]=xxKigoxx
Name[zh_CN]=Kigo
Name[zh_TW]=Kigo

GenericName=Go Board Game
GenericName[ast]=Xuegu de mesa Go
GenericName[bs]=Igraj igru na ploči
GenericName[ca]=Joc de taula Go
GenericName[ca@valencia]=Joc de taula Go
GenericName[da]=Brætspillet Go
GenericName[de]=„Go“-Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι Γκο
GenericName[en_GB]=Go Board Game
GenericName[es]=Juego de tablero «Go»
GenericName[et]=Go-mäng
GenericName[fi]=Go-lautapeli
GenericName[fr]=Jeu de plateau de Go
GenericName[ga]=Cluiche Cláir Go
GenericName[gl]=Xogo de taboleiro «Go»
GenericName[hu]=Go játék
GenericName[is]=GO borðleikur
GenericName[it]=Gioco del Go
GenericName[kk]="Го" тақта ойыны
GenericName[km]=ទៅ​កាន់​ល្បែង​ក្ដារ
GenericName[ko]=바둑 게임
GenericName[lt]=Go stalo žaidimas
GenericName[lv]=Go galda spēle
GenericName[mr]=गो बोर्ड खेळ
GenericName[nb]=Go brettspill
GenericName[nds]=Go-Brettspeel
GenericName[nl]=Go bordspel
GenericName[nn]=Brettspelet Go
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Tabuleiro Go
GenericName[pt_BR]=Jogo de tabuleiro Go
GenericName[ru]=Настольная игра го
GenericName[sk]=Stolová hra Go
GenericName[sl]=Namizna igra Go
GenericName[sr]=Игра на табли го
GenericName[sr@ijekavian]=Игра на табли го
GenericName[sr@ijekavianlatin]=Igra na tabli go
GenericName[sr@latin]=Igra na tabli go
GenericName[sv]=Brädspelet Go
GenericName[tr]=Go Masaüstü Oyunu
GenericName[ug]=Go تاختا ئويۇنى
GenericName[uk]=Гра у го на дошці
GenericName[x-test]=xxGo Board Gamexx
GenericName[zh_CN]=围棋游戏
GenericName[zh_TW]=圍棋遊戲

