[KGameTheme]
Name=Default
Name[bg]=По подразбиране
Name[de]=Standard
Name[et]=Vaikimisi
Name[nl]=Standaard
Name[pt]=Por Omissão
Name[pt_BR]=Por Omissão
Name[sv]=Förval
Name[xx]=xxDefaultxx
Description=KGo Default theme for KDE 4
Description[et]=KGo KDE4 vaiketeema
Description[sv]=Kgo standardtema för KDE 4
VersionFormat=1
Author=Sascha Peilicke
AuthorEmail=sasch.pe@gmx.de
Type=SVG
FileName=kgo_default.svgz
#Preview=kgo_default.png
