[KGameTheme]
Name=Default
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[fr]=Défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hi]=डिफ़ॉल्ट
Name[hsb]=Standard
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ku]=Standard
Name[oc]=Defaut
Name[pt]=Predefinição
Name[sv]=Förval
Name[tr]=Öntanımlı
Name[uk]=Типовий
Name[x-test]=xxDefaultxx
Description=KGo Default theme for KDE 4
Description[el]=Προκαθορισμένο θέμα του KGo για το KDE 4
Description[es]=Tema predeterminado de KGo para KDE 4
Description[et]=KGo KDE4 vaiketeema
Description[ga]=Téama réamhshocraithe KGo le haghaidh KDE 4
Description[gl]=Tema predeterminado de KGo para KDE 4
Description[km]=ស្បែក​លំនាំ​ដើម​របស់ KGo សម្រាប់ KDE 4
Description[pt]=Tema predefinido para o KGo do KDE 4
Description[sv]=Kgo standardtema för KDE 4
Description[uk]=Типова тема KGo для KDE 4
Description[x-test]=xxKGo Default theme for KDE 4xx
VersionFormat=1
Author=Sascha Peilicke
AuthorEmail=sasch.pe@gmx.de
Type=SVG
FileName=kgo_default.svgz
#Preview=kgo_default.png
