[KGameTheme]
Name=Default
Name[be]=Прадвызначаны
Name[br]=Dre ziouer
Name[ca]=Predeterminat
Name[ca@valencia]=Predeterminat
Name[cs]=Výchozí
Name[da]=Standard
Name[de]=Standard
Name[el]=Προκαθορισμένο
Name[en_GB]=Default
Name[eo]=Defaŭlto
Name[es]=Predeterminado
Name[et]=Vaikimisi
Name[eu]=Lehenetsia
Name[fa]=پیش‌فرض
Name[fi]=Oletus
Name[fr]=Par défaut
Name[ga]=Réamhshocrú
Name[gl]=Predeterminado
Name[hne]=डिफाल्ट
Name[hu]=Alapértelmezés
Name[it]=Predefinito
Name[ja]=標準
Name[km]=លំនាំដើម
Name[ko]=기본
Name[lt]=Numatyta
Name[lv]=Noklusējuma
Name[nb]=Standard
Name[nds]=Standard
Name[ne]=पूर्वनिर्धारित
Name[nl]=Standaard
Name[nn]=Standard
Name[oc]=Defaut
Name[pl]=Domyślne
Name[pt]=Predefinição
Name[pt_BR]=Padrão
Name[ro]=Implicit
Name[ru]=По умолчанию
Name[si]=පෙරනිමිය
Name[sl]=Privzeto
Name[sr]=Подразумевано
Name[sr@ijekavian]=Подразумијевано
Name[sr@ijekavianlatin]=Podrazumijevano
Name[sr@latin]=Podrazumevano
Name[sv]=Förval
Name[te]=అప్రమెయం
Name[tr]=Öntanımlı
Name[uk]=Типові
Name[wa]=Prémetou
Name[x-test]=xxDefaultxx
Name[zh_CN]=默认
Name[zh_TW]=預設
Description=Kigo Default theme for KDE 4
Description[ca]=Tema predeterminat del Kigo per KDE 4
Description[ca@valencia]=Tema predeterminat del Kigo per KDE 4
Description[de]=Das Standard-Design für Kigo in KDE4.
Description[en_GB]=Kigo Default theme for KDE 4
Description[es]=Tema predeterminado de Kigo para KDE 4
Description[et]=Kigo KDE4 vaiketeema
Description[nb]=Standard Kigo-tema for KDE4
Description[nn]=Standard Kigo-tema for KDE 4
Description[pt]=Tema Predefinido do Kigo para o KDE 4
Description[pt_BR]=Tema padrão do Kigo para o KDE4
Description[sr]=Подразумевана тема Кигоа за КДЕ‑4
Description[sr@ijekavian]=Подразумијевана тема Кигоа за КДЕ‑4
Description[sr@ijekavianlatin]=Podrazumijevana tema Kigoa za KDE4
Description[sr@latin]=Podrazumevana tema Kigoa za KDE4
Description[sv]=Standardtema för Kigo i KDE 4
Description[tr]=KDE4 için Kigo Öntanımlı teması
Description[uk]=Типова тема Kigo для KDE 4
Description[x-test]=xxKigo Default theme for KDE 4xx
Description[zh_TW]=Kigo KDE4 預設主題
VersionFormat=1
Author=Arturo Silva
AuthorEmail=jasilva28@gmail.com
Type=SVG
FileName=kigo_default.svgz
Preview=kigo_default.png

