[KGameTheme]
Name=Marble
Description=Kigo marble theme for KDE 4
VersionFormat=1
Author=Alexa Kernchen
AuthorEmail=alexa.kernchen@st.ovgu.de
Type=SVG
FileName=kigo_marble.svgz
Preview=kigo_marble.png
