[KGameTheme]
Name=Plain
Name[ast]=Planu
Name[bs]=Obični
Name[ca]=Normal
Name[ca@valencia]=Normal
Name[cs]=Prostý
Name[da]=Simpelt
Name[de]=Einfach
Name[el]=Απλό
Name[en_GB]=Plain
Name[es]=Color liso
Name[et]=Tavaline
Name[fi]=Koruton
Name[fr]=Uni
Name[ga]=Simplí
Name[gl]=Simple
Name[hu]=Egyszerű
Name[it]=Semplice
Name[kk]=Жәй
Name[km]=ធម្មតា
Name[ko]=단색
Name[lv]=Vienkārša
Name[mr]=साधी
Name[nb]=Enkelt
Name[nds]=Eenfach
Name[nl]=Gewoon
Name[nn]=Name=Vanleg
Name[pl]=Zwykły
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ru]=Простая
Name[se]=Dábálaš
Name[sk]=Prostý
Name[sl]=Preprosto
Name[sr]=Обична
Name[sr@ijekavian]=Обична
Name[sr@ijekavianlatin]=Obična
Name[sr@latin]=Obična
Name[sv]=Enkelt
Name[tr]=Düz
Name[ug]=تەكشىلىك
Name[uk]=Проста
Name[x-test]=xxPlainxx
Name[zh_TW]=樸素
Description=Plain Kigo theme based on Default theme by Arturo Silva
Description[bs]=Plain Kigo tema bazirana na Default temi  Arturo Silva
Description[ca]=Tema normal del Kigo basat en el tema per defecte per l'Arturo Silva
Description[ca@valencia]=Tema normal del Kigo basat en el tema per defecte per l'Arturo Silva
Description[da]=Simpelt Kigo-tema baseret på standardtemaet af Arturo Silva
Description[de]=Ein einfaches Design für Kigo (basiert auf dem Standarddesign von Arturo Silva).
Description[el]=Απλό θέμα Kigo με βάση προκαθορισμένο θέμα από τον Arturo Silva
Description[en_GB]=Plain Kigo theme based on Default theme by Arturo Silva
Description[es]=Tema sencillo de Kigo basado en el tema por defecto de Arturo Silva
Description[et]=Kigo tavaline teema, aluseks vaiketeema, autor: Arturo Silva
Description[fi]=Koruton Kigo-teema, joka perustuu Arturo Silvan oletusteemaan
Description[fr]=Thème Kigo uni inspiré du thème par défaut de Arturo Silva
Description[ga]=Téama simplí Kigo bunaithe ar an téama réamhshocraithe, le Arturo Silva
Description[gl]=Tema Kigo sinxelo baseado no tema predeterminado de Arturo Silva
Description[hu]=Egyszerű Kigo-téma Arturo Silva alapértelmezett témáján alapulva
Description[it]=Semplice tema per Kigo basato su quello predefinito (Arturo Silva)
Description[kk]=Kigo-ның  Artturo Silvia әдеттінің негізінде келтірген жәй нақышы
Description[km]=ស្បែក Kigo ធម្មតា​ដែល​មាន​មូលដ្ឋាន​លើ​ស្បែក​លំនាំដើម​ដោយ Arturo Silva
Description[ko]=Arturo Silva의 기본 테마를 기반으로 한 단색 테마
Description[lv]=Vienkārša Kigo tēma, kas balstīta uz noklusētās tēmas, kuras autors ir Arturo Silva
Description[mr]=आर्तुरो सिल्व्हाच्या मूलभूत शैलीवर आधारित साधी किगो शैली
Description[nb]=Enkelt Kigo-tena basert på Standard-temaet av Arturo Silva
Description[nds]=Eenfach Kigo-Muster, buut op Arturo Silva sien Standard-Muster
Description[nl]=Kigo-thema Gewoon gebaseerd op standaard thema door Arturo Silva
Description[nn]=Enkelt Kigo-tema basert på standardtemaet til Arturo Silva
Description[pl]=Zwykły wystrój Kigo oparty na domyślnym wystroju stworzonym przez Arturo Silva
Description[pt]=O tema simples do Kigo, baseado no tema predefinido de Arturo Silva
Description[pt_BR]=Tema simples do Kigo baseado no tema padrão por Arturo Silva
Description[ru]=Простая тема Kigo на базе стандартной темы Артуро Сильва
Description[sk]=Jednoduchá téma Kigo založená na predvolenej téme od Arturo Silva
Description[sl]=Preprosta tema za KIgo, ki temelji na privzeti temi avtorja Artura Silve
Description[sr]=Обична тема за Киго на основу подразумеване Артура Силве
Description[sr@ijekavian]=Обична тема за Киго на основу подразумијеване Артура Силве
Description[sr@ijekavianlatin]=Obična tema za Kigo na osnovu podrazumijevane Artura Silve
Description[sr@latin]=Obična tema za Kigo na osnovu podrazumevane Artura Silve
Description[sv]=Enkelt Kigo-tema baserat på standardtemat av Arturo Silva
Description[tr]=Düz Kigo teması Arturo Silva'nın Öntanımlı teması üzerinedir
Description[uk]=Проста тема Kigo, заснована на типовій темі, створеній Arturo Silva
Description[x-test]=xxPlain Kigo theme based on Default theme by Arturo Silvaxx
Description[zh_CN]=基于默认主题的普通 Kigo 主题，由 Arturo Silva 创作
Description[zh_TW]=基於 Arturo Silva 所做的預設主題修改而成的樸素 Kigo 主題
VersionFormat=1
Author=Frederik Gladhorn
AuthorEmail=gladhorn@kde.org
Type=SVG
FileName=kigo_plain.svgz
Preview=kigo_plain.png

