[KGameTheme]
Name=Plain
Name[uk]=Проста
Name[x-test]=xxPlainxx
Description=Plain Kigo theme based on Default theme by Arturo Silva
Description[uk]=Проста тема Kigo, заснована на типовій темі, створеній Arturo Silva
Description[x-test]=xxPlain Kigo theme based on Default theme by Arturo Silvaxx
VersionFormat=1
Author=Frederik Gladhorn
AuthorEmail=gladhorn@kde.org
Type=SVG
FileName=kigo_plain.svgz
Preview=kigo_plain.png

