[KGameTheme]
Name=Wood and bamboo
Name[de]=Holz und Bambus
Name[x-test]=xxWood and bambooxx
Description=Kigo wood and bamboo theme for KDE 4
Description[de]=Holz und Bambus Design für Kigo in KDE 4
Description[x-test]=xxKigo wood and bamboo theme for KDE 4xx
VersionFormat=1
Author=Alexa Kernchen
AuthorEmail=alexa.kernchen@st.ovgu.de
Type=SVG
FileName=kigo_wood-bamboo.svgz
Preview=kigo_wood-bamboo.png