[KGameTheme]
Name=Wood and fabric
Name[et]=Puit ja riie
Name[pt]=Madeira e pano
Name[pt_BR]=Madeira e pano
Name[sv]=Trä och struktur
Name[uk]=Дерево і тканина
Name[x-test]=xxWood and fabricxx
Description=Kigo wood and fabric theme for KDE 4
Description[et]=Kigo KDE4 puidu-ja-riideteema
Description[pt]=Tema de madeira e pano do Kigo para o KDE 4
Description[pt_BR]=Tema de madeira e pano do Kigo para o KDE 4
Description[sv]=Kigo trä- och strukturtema för KDE 4
Description[uk]=Тема Kigo «Дерево і тканина» для KDE 4
Description[x-test]=xxKigo wood and fabric theme for KDE 4xx
VersionFormat=1
Author=Alexa Kernchen
AuthorEmail=alexa.kernchen@st.ovgu.de
Type=SVG
FileName=kigo_wood-fabric.svgz
Preview=kigo_wood-fabric.png
