[KGameTheme]
Name=Wood and metal
Description=Kigo wood and metal theme for KDE 4
VersionFormat=1
Author=Alexa Kernchen
AuthorEmail=alexa.kernchen@st.ovgu.de
Type=SVG
FileName=kigo_wood-metal.svgz
Preview=kigo_wood-metal.png
