[KGameTheme]
Name=Wood and metal
Name[sv]=Trä och metall
Name[uk]=Дерево і метал
Name[x-test]=xxWood and metalxx
Description=Kigo wood and metal theme for KDE 4
Description[sv]=Kigo trä- och metalltema för KDE 4
Description[uk]=Тема Kigo «Дерево і метал» для KDE 4
Description[x-test]=xxKigo wood and metal theme for KDE 4xx
VersionFormat=1
Author=Alexa Kernchen
AuthorEmail=alexa.kernchen@st.ovgu.de
Type=SVG
FileName=kigo_wood-metal.svgz
Preview=kigo_wood-metal.png
